<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript" src="/js/jquery.flot.min.js"></script>
<script type="text/javascript" src="/js/jquery.flot.time.js"></script>
<script type="text/javascript" src="/js/jquery.flot.axislabels.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/myjs/dashboard.js"></script>
<script type="text/javascript" src="/js/jquery.blockUI.js"></script>
<style type="text/css">
.navbar-brand1 {
font-size: large;
font-weight:bold;
}
#monitor {
position:relative;
border-right: 1px #f8f7f3 solid;
}

.alert-block {
height:250px;		
overflow-y:auto;
position:relative;
margin-left:-5px;
}


.chart{
	margin-bottom: 20px;
	width: 100%;
	height: 300px;
}

.chart-title {
text-align: center;
font-size: 13px;
background-color: #FFBF00;
padding:  10px 0px;
}

.model-shadow {
position: relative;
padding: 5px 10px 10px;
margin-bottom: 6px;
border-color: #e5e5e5 #eee #eee;
border-style: solid;
border-width: 1px 1px;
-webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
box-shadow:  0px 1px 1px 1px rgba(0,0,0,.3);
}

.popover {
  max-width: 800px;
}

#monitor {
margin-top:10px;
}

#filter {
margin-top:20px;
margin-bottom: 20px;
}

</style>
<script type="text/javascript"> 
$(function(){

	var dashboard = new Dashboard(<%-datasets%>);
	//dashboard.block();
	dashboard.layout();
 	 dashboard.initLineChartsArray(function(){
 		dashboard.drawLineCharts();
 	});

 	
 	$('#filter button').click(function(){
 		$(this).html('search ...');
 		if(dashboard.getUtil().isValidated('search')){
 			var from = $('#from').val() !== '' ? new Date($('#from').val()).getTime() : '';
 			var to = $('#to').val() !== '' ? new Date($('#to').val()).getTime() : '';
 	 		dashboard.search(from, to);
 	 		$(this).html('Go');
 		}
 	});
 	
 	$('.navbar-nav li').click(function(){
 		var monitor= $(this).attr('class');
 		if(monitor === 'active'){
 			$(this).removeClass('active');
 		}else{
 			$(this).addClass('active');
 		}
 	});
 	
 	
 	$('#monitor a').popover({
 	    trigger: 'hover',
 	    html: true,  // must have if HTML is contained in popover

 	    // get the title and conent
 	    title: function() {
 	    	return dashboard.getMatedata($(this).attr('alertId')).alertName;
 	    },
 	    content: function() {
 	    	var alertId = $(this).attr('alertId');
 	    	var matedata = dashboard.getMatedata(alertId);
 	    	var alertData = dashboard.getDatasets($(this).attr('alertId'));
 	    	var lastestAlertTime = alertData[alertData.length - 1].alertTime;
 			var mailList = matedata.mailList.split(",");
 	    	
 	    	var html = "lastestTime  : " + lastestAlertTime       + "<br/>";
 	    	html    += "Frequency    : " + matedata.frequency     + "<br/>";	
 	    	html    += "Threshold    : " + matedata.threshold     + "<br/>";
 	    	html    += "WarningStart : " + matedata.warningStart  + "<br/>";
 	    	html    += "WarningEnd   : " + matedata.warningEnd    + "<br/>";
 	    	html    += "AlertStart   : " + +matedata.alertStart   + "<br/>";
 	    	html    += "AlertEnd     : " + matedata.alertEnd      + "<br/>";
 	    	html    += "AlertFlag    : " + matedata.alertFlag     + "<br/>";
 	     	html    += "MailList     : " + mailList[0]            + "<br/>";
 	    	for(var i = 1; i < mailList.length ; i++){
 	    		html    += "             : " + mailList[i]            + "<br/>";
 	    	}
 	    	html    += "TaskType     : " + matedata.taskType      + "<br/>";
 	    	html    += "SQL          : " + matedata.sql           + "<br/>";
 	    	return html ;
 	    },
 	    container: 'body',
 	    placement: 'bottom'

 	  });
});
 	
</script>
</head>
<body>
	<!-- <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img alt="" src="/img/logo.jpg">
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a  href="#">DFT Alert Dashboard</a></li>
            <li><a data-toggle="collapse" data-target="#demo" href="#about">Monitor <span class="caret"></span></a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>/.nav-collapse
      </div>
    </div>
  <div>

	<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
  	simple collapsible
	</button>

	<div id="demo" class="collapse in">
	 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	
	</div>
</div>

<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
  	simple collapsible
	</button>

	<div id="demo" class="collapse in">
	 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	
	</div> -->
	
</body>
</html>