<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.blockUI.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript" src="/js/jquery.flot.min.js"></script>
<script type="text/javascript" src="/js/jquery.flot.time.js"></script>
<script type="text/javascript" src="/js/jquery.flot.axislabels.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/myjs/dashboard.js"></script>
<style type="text/css">

.chart{
	margin-bottom: 40px;
	margin-left : 0px;
	width: 50%;
	height: 300px;
}

.popover {
  max-width: 800px;
}
</style>
<script type="text/javascript"> 
$(function(){
	var dashboard = new Dashboard(<%-datasets%>);
	console.log(1);
	dashboard.layout();
 	dashboard.initLineChartsArray(function(){
 		dashboard.drawLineCharts();
 		//$.unblockUI();
 	});	
 	
 	$('#filter button').click(function(){
 		//$.unblockUI();
 		if(dashboard.getUtil().isValidated('search')){
 			var from = $('#from').val() !== '' ? new Date($('#from').val()).getTime() : '';
 			var to = $('#to').val() !== '' ? new Date($('#to').val()).getTime() : '';
 	 		dashboard.search(from, to, function(){
 	 			//$.unblockUI();
 	 		});
 		}
 	});
 	
 	$('#monitor button').popover({
 	    trigger: 'hover',
 	    html: true,  // must have if HTML is contained in popover

 	    // get the title and conent
 	    title: function() {
 	    	return dashboard.getMatedata($(this).attr('alertId')).alertName;
 	    },
 	    content: function() {
 	    	var alertId = $(this).attr('alertId');
 	    	var matedata = dashboard.getMatedata(alertId);
 	    	var alertData = dashboard.getDatasets($(this).attr('alertId'));
 	    	var lastestAlertTime = alertData[alertData.length - 1].alertTime;
 			var mailList = matedata.mailList.split(",");
 	    	
 	    	var html = "lastestTime  : " + lastestAlertTime       + "<br/>";
 	    	html    += "Frequency    : " + matedata.frequency     + "<br/>";	
 	    	html    += "Threshold    : " + matedata.threshold     + "<br/>";
 	    	html    += "WarningStart : " + matedata.warningStart  + "<br/>";
 	    	html    += "WarningEnd   : " + matedata.warningEnd    + "<br/>";
 	    	html    += "AlertStart   : " + +matedata.alertStart   + "<br/>";
 	    	html    += "AlertEnd     : " + matedata.alertEnd      + "<br/>";
 	    	html    += "AlertFlag    : " + matedata.alertFlag     + "<br/>";
 	     	html    += "MailList     : " + mailList[0]            + "<br/>";
 	    	for(var i = 1; i < mailList.length ; i++){
 	    		html    += "             : " + mailList[i]            + "<br/>";
 	    	}
 	    	html    += "TaskType     : " + matedata.taskType      + "<br/>";
 	    	html    += "SQL          : " + matedata.sql           + "<br/>";
 	    	return html ;
 	    },
 	    container: 'body',
 	    placement: 'bottom'

 	  });
});
 	
</script>
</head>
<body>
	<div id="dashboard" style="margin-left: auto;margin-right: auto; width: 100%"></div>
</body>
</html>