<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript" src="/js/jquery.flot.min.js"></script>
<script type="text/javascript" src="/js/jquery.flot.time.js"></script>
<script type="text/javascript" src="/js/jquery.flot.axislabels.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/myjs/dashboard.js"></script>
<script type="text/javascript" src="/js/jquery.blockUI.js"></script>
<style type="text/css">

.navbar-brand {
font-size: large;
font-weight:bold;
}

/* chart style */

.chart{
	margin-bottom: 20px;
	width: 100%;
	height: 300px;
}

.chart-title {
text-align: center;
font-size: 13px;
background-color: #FFBF00;
padding:  10px 0px;
}

.model-shadow {
position: relative;
padding: 5px 10px 10px;
margin-bottom: 6px;
border-color: #e5e5e5 #eee #eee;
border-style: solid;
border-width: 1px 1px;
-webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
box-shadow:  0px 1px 1px 1px rgba(0,0,0,.3); 
/* -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); */
}

/* Monitor style*/

#monitor {
position:relative;
border-right: 1px #f8f7f3 solid;
margin-top:20px;
margin-bottom: 20px;
}

.alert-block {

-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.alert-content {
height:250px;		
overflow-y:auto;
position:relative;
margin: 10px 10px 10px -5px;
}

.popover {
  max-width: 800px;
} 

.btn-block{
width: 140%;
}

.monitor-title {
text-align: center;
padding: 10px;
font-size: large;
margin-bottom: 10px;
}

.alert-red-title {
background-color: #F78181;
}

.alert-yellow-title {
background-color: #F7D358;
}

.alert-green-title {
background-color: #81F781;
}

.no-result {
text-align: center;
font-size: x-large;
margin-top: 40px;
}

/* Filter style*/

#filter {
margin-top:20px;
margin-bottom: 20px;
}

</style>
<script type="text/javascript"> 
$(function(){

	var dashboard = new Dashboard(<%-datasets%>);
	//dashboard.block();
	dashboard.layout();
 	 dashboard.initLineChartsArray(function(){
 		dashboard.drawLineCharts();
 	});

 	
 	$('#filter button').click(function(){
 		$(this).html('search ...');
 		if(dashboard.getUtil().isValidated('search')){
 			var from = $('#from').val() !== '' ? new Date($('#from').val()).getTime() : '';
 			var to = $('#to').val() !== '' ? new Date($('#to').val()).getTime() : '';
 	 		dashboard.search(from, to);
 	 		$(this).html('Go');
 		}
 	});
 	
 	$('.navbar-nav li').click(function(){
 		var monitor= $(this).attr('class');
 		if(monitor === 'active'){
 			$(this).removeClass('active');
 		}else{
 			$(this).addClass('active');
 		}
 	});
 	
 	$('.chart-title').click(function(){
 		var alertId = $(this).attr('id').split('-')[0];
 		var matedata = dashboard.getMatedata(alertId);
 		$('.modal-body').html(matedata.sql);
 	});
 	
 	$('#monitor a').popover({
 	    trigger: 'hover',
 	    html: true,  // must have if HTML is contained in popover

 	    // get the title and conent
 	    title: function() {
 	    	return dashboard.getMatedata($(this).attr('alertId')).alertName;
 	    },
 	    content: function() {
 	    	var alertId = $(this).attr('alertId');
 	    	var matedata = dashboard.getMatedata(alertId);
 	    	var alertData = dashboard.getDatasets($(this).attr('alertId'));
 	    	var lastestAlertTime = alertData[alertData.length - 1].alertTime;
 	    	var alertValue = alertData[alertData.length - 1].alertValue;
 			var mailList = matedata.mailList.split(",");
 	    	
 	    	var html = "lastestTime  : " + lastestAlertTime       + "<br/>";
 	    	html    += "alertValue   : " + alertValue             + "<br/>";   
 	    	html    += "Frequency    : " + matedata.frequency     + "<br/>";	
 	    	html    += "Threshold    : " + matedata.threshold     + "<br/>";
 	    	html    += "WarningStart : " + matedata.warningStart  + "<br/>";
 	    	html    += "WarningEnd   : " + matedata.warningEnd    + "<br/>";
 	    	html    += "AlertStart   : " + matedata.alertStart    + "<br/>";
 	    	html    += "AlertEnd     : " + matedata.alertEnd      + "<br/>";
 	    	html    += "AlertFlag    : " + matedata.alertFlag     + "<br/>";
 	     	html    += "MailList     : " + mailList[0]            + "<br/>";
 	     	
 	    	for(var i = 1; i < mailList.length ; i++){
 	    		html    += "             : " + mailList[i]            + "<br/>";
 	    	}
 	    	
 	    	html    += "TaskType     : " + matedata.taskType      + "<br/>";
 	    	html    += "SQL          : " + matedata.sql           + "<br/>";
 	    	return html ;
 	    },
 	    container: 'body',
 	    placement: 'bottom'

 	  });
});
 	
</script>
</head>
<body>

	
</body>
</html>